accelerate==1.1.1
bitsandbytes==0.43.3
datasets==2.16.1
diffusers==0.33.1
huggingface_hub==0.33.0
numpy==2.3.5
packaging==25.0
peft==0.11.1
Pillow==12.0.0
prodigyopt==1.1.2
torch==2.2.0
torchvision==0.17.0
tqdm==4.66.1
transformers==4.49.0
wandb==0.23.1
xformers==0.0.24
